body {
	color: #40514e;
	margin: 0;
	text-align: center;
	font-family: "Inter", sans-serif;
	font-size: 150%;
	font-weight: normal;
}

h1 {
	color: #fc5404;
	font-family: "Lucida Handwriting", cursive;
	font-size: 3.5rem;
	margin: 50px auto 0 auto;
}

h2 {
	font-family: "Patrick", sans-serif;
	font-size: 2.5rem;
	color: #155263;
	font-weight: normal;
	margin-top: auto;
}

h3 {
	font-family: "Patrick", sans-serif;
	font-size: 1.875rem;
	color: #11999e;
}

hr {
	margin: auto;
	border: dotted #14ffec 4px;
	border-bottom: none;
	width: 6%;
}

a {
	color: #11999e;
	font-family: "Patrick", sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

a:hover {
	color: #eaf6f6;
}

.hi {
	font-family: cursive;
	font-style: italic;
}

.topcontainer {
	background-color: #94daff;
	position: relative;
	padding-top: 100px;
	padding-bottom: 30px;
}

.profile {
	width: 40%;
	margin: auto;
	text-align: center;
	height: auto;
}

.profile-skills {
	background-color: #ffc93c;
	padding: 30px 0;
}

.skills {
	padding: 30px 0;
}

.skill-row {
	width: 50%;
	margin: 50px auto 130px auto;
	text-align: left;
	height: auto;
}

.hobby-contact-color {
	background-color: #d2d0fe;
}

.hobby {
	margin: auto;
	padding: 30px 0;
	text-align: center;
	width: 40%;
}

.contact-me {
	margin: auto;
	padding: 30px 0;
	text-align: center;
	width: 40%;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 15;
	-moz-border-radius: 15;
	border-radius: 15px;
	text-shadow: 1px 1px 2px #666666;
	font-family: "Patrick", sans-serif;
	color: #ffffff;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.bottom-container {
	background-color: #14ffec;
	padding: 30px 0;
}

.pro {
	text-decoration: underline;
}

.topcontainer {
	position: relative;
}

.myimg {
	width: 30%;
}

.skill-one {
	border-radius: 50%;
	width: 25%;
	float: left;
	margin-right: 30px;
}

.skill-second {
	width: 25%;
	float: right;
	margin-left: 30px;
}

.canvas {
	background-color: #b074e9;
	width: 25%;
	border-radius: 30%;
}

.top-cloud {
	position: absolute;
	right: 450px;
	top: 50px;
}

.bottom-cloud {
	position: absolute;
	left: 450px;
	bottom: 350px;
}

.copywrite {
	color: #eaf6f6;
	font-size: 0.9rem;
	padding-top: 20px;
}
